


#task {
    background-color: rgb(151, 146, 146);
    color: blanchedalmond;
    border: 1px solid rgb(218, 215, 215);
    margin-bottom: 10px;
    margin-left: -40px;
    margin-top: 20px;
}

#task_discription{
    margin-left: 20px;
}


#task_buttons {
    display:  flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: fit-content;
}

.btn-primary{
    margin-left: 20px;
}





